apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: train-cache-pvc
  namespace: hack-europe-team-i
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: gp3-csi
  resources:
    requests:
      storage: 5Gi
